@CHARSET "UTF-8"; 

body,hr,h1,h2,h3,h4,h5,h6,h7,ul,li,ol,img,input{
	margin: 0;
	padding: 0;
	border: 0
}
*:focus{
  outline:none!important;
}
body {
	background: url("/myHome/image/bg_noise.jpg");
	padding: 0;
	margin: 0;
	border: 0 none;
	font-family: Tahoma, Helvetica, "Microsoft Yahei", ”微软雅黑”, arial
}

.wordContent {
	width: 1024px;
	height: auto;
	margin: 100px auto 0;
	background: #fff;
	padding: 15px 8px;
	box-sizing: border-box;
	border: 1px solid #d4d4d4
}

.messagePanel {
	width: 983px;
	border: 1px solid #dadada;
	margin: 100px auto 0;
	background: #fff
}

.wordTool {
	background: #f6f6f6;
	border-bottom: 1px solid #ebebeb;
	height: 23px;
	width: 967px;
	display: block;
	padding: 8px
}

#title {
	height: 38px;
	width: 100%;
	word-break: break-all;
	word-wrap: break-word;
	color: #999;
	font-size: 23px;
	line-height: 38px;
	background: #fff
}

#wordText {
	height: 480px;
	width: 890px;
	margin: 10px auto
}

.wordfoot {
	height: 52px;
	width: 983px;
	background: #f6f6f6;
	border-top: 1px solid #dadada
}

.sendText {
	height: 40px;
	width: 983px;
	margin: 0 auto 50px;
	clear: both;
	padding-bottom: 25px
}

.sendText input {
	height: 40px;
	width: 100px;
	background: #1caede;
	font-size: 19px;
	margin: 0 0 0 10px;
	color: #fff;
	cursor: pointer
}

.sendText input:hover {
	background: #02abe3;
	text-shadow: 0 6px 4px rgba(0, 0, 0, 0.05), 0 7px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05), 0 4px 3px rgba(0, 0, 0, 0.3);
}

.toolBar {
	width: 930px;
	height: 40px;
	margin: 6px auto;
	background: #fa3
}

.select {
	margin: 0 8px;
	width: 100px;
	height: 24px;
	border: 1px solid #ccc;
	line-height: 24px;
	text-align: left;
	float: left;
	cursor: pointer;
	position: relative
}

.select span {
	color: #666;
	float: right;
	width: 77px;
	border-right: 1px solid #ccc;
	height: 22px;
	display: block;
	font-size: 14px;
	text-indent: 5px;
	z-index: 2
}

.select i {
	text-indent: .3em;
	display: block;
	font-weight: bold;
	font-size: 13px;
	float: right;
	height: 22px;
	font-style: normal;
	text-indent: 1px
}

.select ul {
	list-style: none;
	position: absolute;
	width: 150px;
	top: 24px;
	left: -1px;
	background: #fefefe;
	border: 1px solid #02abe3;
	display: none;
	z-index: 2
}

.select ul li {
	width: 150px;
	height: 30px;
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-indent: 10px;
	color: #747474
}

.select ul li:hover {
	background: #efefef
}

.smallBox,.colorsmallBox {
	font-size: 20px;
	text-indent: .1em;
	width: 25px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	float: left;
	display: block;
	border: 1px solid #f6f6f6;
	cursor: pointer
}

.smallBox:hover,.colorsmallBox:hover {
	background: #fff;
	border: 1px solid #ececec
}

.colorPanel {
	width: 220px;
	height: 258px;
	z-index: 50;
	text-align: left;
	position: absolute;
	top: 24px;
	left: 0;
	border: 1px solid #dadada;
	background: #fbfbfb;
	display: none
}

.colorPanel .colorStatu {
	border: 1px solid #e0e0e0;
	background: #fbfbfb;
	width: 100px;
	margin-left: 6px;
	margin-right: 9px
}

.colorPanel input {
	width: 70px;
	height: 25px;
	border: 1px solid #e0e0e0;
	margin: 10px 5px 0 12px;
	cursor: pointer
}

.colorPanel p {
	font-size: 13px;
	color: #39c;
	text-indent: 10px;
	margin-top: 3px
}

.colorPanel ul {
	display: block;
	list-style: none
}

.colorPanel ul li {
	margin: 5px 0 0 5px;
	float: left;
	width: 16px;
	height: 16px;
	border: 1px solid #ddd
}

.setting {
	width: 600px;
	height: 55px;
	padding-top: 25px
}

#type {
	position: relative;
	left: 0;
	padding: 0 15px;
	margin: 10px 0 0 20px;
	width: 230px;
	height: 30px;
	font-size: 15px;
	border: 1px solid #d9d9d9;
	background: #fff;
	cursor: pointer;
	line-height: 30px
}

#draft {
	position: relative;
	width: 200px;
	height: 30px;
	left: 330px;
	background: #fff;
	top: -32px;
	text-align: left;
	line-height: 30px;
	border: 1px solid #c7c7c7;
	cursor: pointer;
	float: none
}

#draft span {
	float: left;
	width: 150px;
	height: 30px;
	border-right: 1px solid #ebebeb
}

#draft i {
	width: 45px;
	height: 30px;
	font-weight: bold;
	font-style: normal;
	display: block;
	text-align: center
}

#draft ul {
	list-style: none;
	top: 30px;
	background: #fff;
	width: 200px;
	position: absolute;
	left: -1px
}

#draft ul li {
	width: 200px;
	font-size: 13px;
	display: block
}

#draft ul li:hover {
	background: #f3f3f3
}

.pointPanel {
	text-decoration: underline;
	font-weight: bold
}

.edui-container {
	margin: 0 auto
}

input {
	border: 0 auto
}