@CHARSET "UTF-8";

body {
	background: url("/myHome/image/bg_noise.jpg");
	padding: 0;
	margin: 0;
	border: 0;
}

.messCentent {
	background: url("/myHome/image/login_header.png") repeat-x;
	display: block;
	width: 1000px;
	height: 750px;
	margin: 20px auto;
	border: 1px solid #dfdfdf;
	box-shadow: 4px 2px 5px #dfdfdf;
	border-radius: 8px;
	overflow: hidden;
}

.messCentent h1 {
	margin: 18px 0 19px 29px;
	color: #666666;
	font-family: "TeXGyreScholaBold", "Arial", "sans-serif", "微软雅黑";
	font-weight: normal;
}

.messNav {
	float: left;
	border: 1px solid #E5E5E5;
}

.personal {
	text-align: center;
	background: #EDEDED;
	font-family: "微软雅黑", "宋体";
	color: #888;
}

.personal ul {
	list-style: none;
	width: 201px;
	background: #EDEDED;
	overflow: hidden;
	border-bottom: 1px solid #E5E5E5;
	padding: 0;
	font-size: 16px;
}

.personal ul li {
	margin: 10px auto 0;
	height: 40px;
	width: 160px;
	background: #EDEDED url("/myHome/image/arrow3.gif") no-repeat 30px 15px;
	border-bottom: 1px dashed #dcdcdc;
	line-height: 40px;
	cursor: pointer;
	font-size: 14px;
	display: block;
	zoom: 1;
}

.personal ul li a {
	height: 100%;
	width: 100%;
	line-height: 40px;
	font-size: 14px;
	display: block;
	text-decoration: none;
	color: #888888;
}

.personal ul li:hover {
	background: #A9C50B url("/myHome/image/arrow3.gif") no-repeat 30px 15px;
	border-radius: 25px;
	box-shadow: 4px 3px 4px #888888;
	border-bottom: 1px solid #888888;
}

.personal span {
	line-height: 50px;
	background: url("/myHome/image/login_header.png") repeat-x;
	height: 50px;
	overflow: hidden;
	display: block;
	border: 1px dashed #ececec;
	cursor: pointer;
	width: 204px;
	font-size: 16px;
}

.personal span:hover {
	font-weight: bold;
	color: #555;
}

.message {
	float: right;
	width: 790px;
	height: 670px;
	display: block;
	border: 1px solid #ececec;
	background: #f9f9f9;
	font-size: 14px;
	font-family: arial, 宋体, sans-serif;
	position: relative;
	overflow: hidden;
}

.detailsMess,.educationMess,.workUnitsMess,.sorryMess,.baseMess,.sorryMess,.UserPhotoMess
	{
	background: #f9f9f9;
	position: absolute;
	display: block;
	width: 790px;
	height: 670px;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.sorryMess {
	height: 100%;
	background: url("/myHome/image/sorry.gif") no-repeat 120px 130px;
}

.sorryMess span {
	display: block;
	width: 250px;
	height: 80px;
	margin: 120px auto 0;
	font-size: 25px;
	color: #666666;
	font-family: "TeXGyreScholaBold", "Arial", "sans-serif", "微软雅黑";
	font-weight: normal;
}

.message h2 {
	margin: 15px 25px 45px;
	height: 38px;
	background: #f9f9f9;
	display: block;
	color: #999999;
	border-bottom: 3px solid #F2F2F2;
}

.messArea {
	width: 100%;
	height: 60px;
	display: block;
	line-height: 60px;
}

.messArea i {
	margin: 0 6px;
	width: 60px;
	font-style: normal;
	font-size: 14px;
}

.messAreaLeft {
	text-align: right;
	float: left;
	width: 200px;
	height: 60px;
	display: block;
	font-size: 14px;
	line-height: 60px;
}

.messAreaRight {
	float: right;
	width: 580px;
	height: 60px;
	display: block;
}

.cus-sel-opt-panel {
	width: 102px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #D8D8D8;
	margin: 15px 10px 0 0;
	position: relative;
	float: left;
	color: #666666;
	cursor: pointer;
	z-index: auto;
}

.cus-sel-opt-panel:hover {
	border: 1px solid #A1BBD3;
}

.cus-sel-opt-panel span {
	width: 102px;
	height: 30px;
	display: block;
	background: url("/myHome/image/arrow.png") no-repeat 85px 14px;
}

.cus-sel-opt-ctn {
	clear: both;
	width: 102px;
	list-style: none;
	border: 1px solid #A1BBD3;
	position: absolute;
	left: -1px;
	display: none;
	background: #f8f8f8;
	z-index: 3;
}

#year,#month,#day,#workYear,#workMonth,#stuYear {
	height: 300px;
	overflow: auto;
}

.cus-sel-opt-ctn li:hover {
	background: #ECECEC;
}

#Address,#Motto,#schoolName,#workInfo,#nickName,#posswordSpace{
	margin: 17px 0 0 0px;
	width: 402px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #D4D4D4;
	font-size: 17px;
	background: #f9f9f9;
}

#infoMess {
	resize: none;
	margin: 17px 0 0 0px;
	border: 1px solid #D4D4D4;
	width: 420px;
	height: 160px;
}

#char input {
	margin: 20px 6px 0px 10px;
	cursor: pointer;
}

#char label,.sex label,.sex input {
	cursor: pointer;
}

#userMessList {
	height: 308px;
}

#PrivacySttList {
	height: 270px;
	border-bottom: 0;
}

.save {
	width: 150px;
	height: 40px;
	background: #80B1EA;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #ECECEC;
}

.save:hover {
	background: #5994E6;
}

.savePoint {
	width: 250px;
	height: 40px;
	display: block;
	display: none;
	text-indent: 3em;
	line-height: 40px;
	color: #FF4700;
	font-weight: bold;
	font-size: 13px;
}

#province,#city {
	height: 280px;
	overflow: auto;
}