@CHARSET "UTF-8";

body {
	background: url("/myHome/image/bg_noise.jpg");
	font-family: "微软雅黑", "宋体";
	font-size: 14px;
}

h1 {
	font-family: tahoma, helvetica, microsoft yahei, arial;
	font-size: 50px;
	font-weight: normal;
	text-shadow: -2px 1px #fff;
	word-break: break-all;
	word-wrap: break-word;
	margin: 30px 0 60px;
	text-indent: 15%;
}

h1 a {
	color: #3fa7cb;
	text-decoration: none;
}

.userNotice {
	width: 700px;
	height: 460px;
	background: #FFFFFF url("/myHome/image/userNotice.png") 30px no-repeat;
	display: block;
	border: 2px solid #DCDCDC;
	box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.05), 4px 7px 5px
		rgba(0, 0, 0, 0.3);
	margin: 0 0 70px 0;
}

.userNotice h2 {
	color: #6C6C6C;
	margin: 40px 0 0 140px;
	width: 500px;
	height: 40px;
	font-size: 25px;
	text-shadow: 3px 6px 4px rgba(0, 0, 0, 0.04), 4px 7px 5px
		rgba(0, 0, 0, 0.2);
}

.userNotice a {
	color: #3FA7CB;
	text-decoration: none;
}

.userNotice a:hover {
	text-decoration: underline;
}

.userMessage {
	width: 200px;
	height: 487px;
	border: 1px solid #E7E5E6;
	border-top: 2px solid #3FA7CB;
	background: #FBFBFB;
	position: absolute;
	top: 125px;
	left: 900px;
	box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.05), 4px 7px 5px
		rgba(0, 0, 0, 0.3);
	margin: 0 0 100px 0;
}

.userMessage a {
	cursor: pointer;
	color: #3CBCE7;
	font-size: 14px;
	text-decoration: none;
	display: block;
}

.userHead {
	width: 160px;
	height: 150px;
	display: block;
	border: 1px solid #DCDCDC;
	box-shadow: 4px 6px 2px rgba(50, 50, 50, 0.2), 5px 8px 3px
		rgba(50, 50, 50, 0.1);
	margin: 10px auto 0;
}

.Upload {
	margin: -20px auto 15px;
	text-align: center;
	width: 160px;
	background: rgba(0, 0, 0, 0.1);
	display: block;
	z-index: 5;
	font-weight: bold;
}

.Upload:hover {
	background: rgba(0, 0, 0, 0.3);
}

#username {
	width: 160px;
	height: 20px;
	margin: 0 auto 6px;
	font-size: 16px;
}

.userMessage span {
	font-family: tahoma, helvetica, arial;
	color: #454545;
	display: block;
	width: 160px;
	margin: 7px auto;
}

.userMessage ul {
	margin: 0 auto;
	list-style: none;
	display: block;
	width: 201px;
	text-align: center;
	line-height: 40px;
}

.userMessage span a {
	color: #FF4700;
	font-size: 14px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	display: inline;
}

.userMessage ul li {
	width: 201px;
	height: 40px;
	cursor: pointer;
	border-bottom: 1px dashed #ffffff;
}

.userMessage li:hover {
	background: #A9C50B;
}

.displayArea {
	width: 800px;
	margin: 0 5% 0;
}

.diaryArea {
	width: 765px;
	height: 247px;
	margin: 40px auto 0;
	display: block;
	clear: both;
}

.dateElement {
	background: url("/myHome/image/dateElement.png") no-repeat;
	width: 70px;
	height: 88px;
	float: left;
	margin: 2px 0 0 0;
}

.diaryContent {
	width: 665px;
	height: auto;
	border: 1px solid #ccc;
	float: right;
	background: #FFFFFF;
	box-shadow: 4px 6px 2px rgba(50, 50, 50, 0.2), 5px 8px 3px
		rgba(50, 50, 50, 0.1);
}

.diaryContent h2 {
	padding: 10px 20px;
	font-size: 20px;
	color: #454545;
	word-break: break-all;
	word-wrap: break-word;
	margin-bottom: 5px;
	height: 30px;
}

.diaryArea span {
	display: block;
	float: left;
	margin: 18px 0 0 7px;
	width: 55px;
	height: 48px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}

.userAction {
	width: 625px;
	text-align: right;
	clear: both;
	padding: 10px 20px 20px 20px;
}

.userAction a {
	color: #878787;
	margin: 0 0 0 8px;
	cursor: pointer;
	font-size: 13px;
	text-decoration: none;
}

.userAction b {
	font-weight: normal;
}

.userAction a:hover {
	color: #555555;
	margin: 0 0 0 8px;
}

#returnHead {
	width: 50px;
	height: 53px;
	position: fixed;
	right: 50px;
	background: #FFFFFF url("/myHome/image/return_Head_One.png") no-repeat;
	box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.05), 4px 7px 5px
		rgba(0, 0, 0, 0.3);
	display: none;
	cursor: pointer;
	border-radius: 8px;
	opacity: 0;
	filter: alpha(opacity =       0);
	background: #FFFFFF url("/myHome/image/return_Head_One.png") no-repeat;
}

#returnHead:hover {
	background: #FFFFFF url("/myHome/image/return_Head_two.png") no-repeat;
}

.comment {
	width: 604px;
	opacity: 1;
	height: auto;
	filter: alpha(opacity =      100);
	border: 1px solid #DEDEDE;
	border-top: 3px solid #3FA7CB;
	display: none;
	background: #FFFFFF;
	padding: 0px 30px;
	overflow: hidden;
}

.commentArea {
	width: 510px;
	border: 1px solid #DEDEDE;
	margin: 0 auto;
	display: block;
	background: #FFFFFF;
	overflow: auto;
	padding: 25px 20px;
}

.sendComment {
	width: 120px;
	height: 35px;
	background: #3FA7CB;
	cursor: pointer;
	margin: 20px 0 0 458px;
	font-size: 14px;
	color: #E4E4E4;
	font-weight: bold;
	border-radius: 8px;
}

.sendComment:hover {
	background: #02ADE6;
}

.displayComment {
	width: 530px;
	margin: 35px auto;
}

.smallCom {
	width: 530px;
	border-bottom: 1px dashed #DEDEDE;
	margin: 0;
	margin-top: 40px;
	opacity: 1;
	filter: alpha(opacity =         100);
	background: #FFFFFF;
}

.smallCom span {
	width: 20px;
	height: 19px;
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #DCDCDC;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05), 3px 3px 2px
		rgba(0, 0, 0, 0.1);
}

.smallCom img {
	width: 20px;
	height: 19px;
}

.smallCom b {
	float: left;
	display: block;
	margin: 0 10px 0 0;
	color: #3FA7CB;
}

.smallCom strong {
	font-size: 13px;
	font-weight: normal;
	font-family: Georgia, Tahoma, Helvetica, arial;
	word-break: break-all;
	word-wrap: break-word;
	color: #ccc;
	margin: 12px 0px 8px 20px;
	display: block;
}

.smallCom a {
	float: right;
	cursor: pointer;
	color: #3FA7CB;
	display: none;
	margin-right: 10px;
}

.smallCom a:hover {
	color: #FF4700;
}
.cut_out{
	float: right;
	color:#3FA7CB;
	margin:10px 20px 15px;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
}
.cut_out:hover{
text-decoration: underline;
}