@CHARSET "UTF-8";

body,ul,li,ol,h1,h2,h3,h4,h5,h6,p,img,input{
	margin: 0;
	padding: 0;
	border: 0
}
*:focus{
  outline:none!important;
}
.head{
		min-width: 100%!important;
}
body {
	background: url("/myHome/image/bg_noise.jpg");
	font-family: "微软雅黑", "宋体";
	font-size: 14px
}

.articleTitle {
	font-size: 20px;
	color: #454545;
	word-break: break-all;
	word-wrap: break-word;
	margin-bottom:13px;
	height: auto;
	padding-bottom:13px;
	border-bottom: 1px dashed #787878;
}
.articleTitle > h1{
	font-size: 20px;
	display: inline;
	cursor: pointer;
	color:#787878;
}
.articleTitle > h1:hover{
	color:#3399CC;
}
.space_name {
	font-family: tahoma, helvetica, microsoft yahei, arial;
	font-size: 50px;
	font-weight: normal;
	word-break: break-all;
	word-wrap: break-word;
	margin: 80px auto 25px;
	text-align:center;
	width:100%;
}

.space_name a {
	color: #3fa7cb;
	text-decoration: none
}

#modificationTime {
	float: right;
	font-size: 13px;
	color: #989898;
	font-family: Georgia, Tahoma, Helvetica, arial
}

.readArea {
	width: 800px;
	border: 1px solid #dedede;
	border-top: 3px solid #3fa7cb;
	margin: 0 auto;
	display: block;
	background: #fff;
	overflow: auto;
	padding: 20px 30px;
	overflow: hidden;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.05), 5px 5px 3px
		rgba(0, 0, 0, 0.1)
}

.userAction {
	width: 100%;
	text-align: right;
	clear: both;
	margin: 20px 0 0
}

.userAction a {
	color: #3fa7cb;
	margin: 0 8px 0 0;
	cursor: pointer;
	font-size: 13px;
	text-decoration: none
}

.userAction a:hover {
	color: #ff4700
}

div.comment {
	width: 800px;
	border: 1px solid #dedede;
	border-top: 3px solid #3fa7cb;
	display: block;
	background: #fff;
	overflow: hidden;
	padding: 20px 30px;
	margin: 30px auto 65px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.05), 5px 5px 3px
		rgba(0, 0, 0, 0.1)
}

#commentArea {
	width: 740px;
	border: 1px solid #dedede;
	margin: 0 auto;
	display: block;
	background: #fff;
	overflow: auto;
	padding: 25px 20px;
	position: relative;
	min-height: 14px
}

#sendComment {
	width: 120px;
	height: 35px;
	background: #3fa7cb;
	cursor: pointer;
	margin: 20px 0 0 670px;
	border-radius: 8px
}

#sendComment:hover {
	background: #02ade6
}

.displayComment {
	width: 760px;
	margin: 35px auto
}

.smallCom {
	width: 760px;
	border-bottom: 1px dashed #dedede;
	margin: 0;
	margin-top: 40px;
	opacity: 1;
	filter: alpha(opacity =     100);
	background: #fff;
	float: left
}

.smallCom img {
	width: 40px;
	height: 40px;
	border: 2px solid #5caae6;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05), 2px 3px 5px
		rgba(0, 0, 0, 0.3)
}

.smallCom span {
	width: 40px;
	height: 40px;
	float: left;
	margin: 5px 30px 10px 10px;
	border: 2px solid #8ebd21
}

.smallCom img {
	width: 40px;
	height: 40px;
	border: 2px solid #6fc5e4;
	margin: 3px;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05), 2px 3px 5px
		rgba(0, 0, 0, 0.3)
}

.smallCom a {
	float: left;
	display: block;
	color: #3fa7cb;
	text-decoration: none;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	display: block;
	width: 650px
}

.smallCom div {
	float: left;
	display: block;
	width: 650px
}

.smallCom a:hover {
	text-decoration: underline
}

.smallCom strong {
	font-size: 13px;
	font-weight: normal;
	font-family: Georgia, Tahoma, Helvetica, arial;
	word-break: break-all;
	word-wrap: break-word;
	color: #787878;
	margin: 12px 0 8px 20px;
	display: block;
	float: left;
	display: block;
	width: 700px;
	height: 25px;
	line-height: 25px
}

.smallCom:hover .remove_com {
	display: block;
	width: 60px;
	text-align: right;
	line-height: 25px;
	float: right
}

.smallCom a.remove_com {
	float: right;
	cursor: pointer;
	color: #3fa7cb;
	display: none;
	margin-right: 10px;
	height: 25px
}

.remove_com:hover {
	color: #ff4700
}

#visitor_display {
	width: 800px;
	border: 1px solid #dedede;
	border-top: 3px solid #3fa7cb;
	display: block;
	background: #fff;
	padding: 20px 30px 40px;
	margin: 30px auto 0;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.05), 5px 5px 3px
		rgba(0, 0, 0, 0.1);
	height: 100px
}

#visitor_display ul {
	list-style: none;
	wdith: 800px;
	margin: 0 0 30px;
	display: block
}

#visitor_display li {
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	display: block;
	margin: 0 4px 7px 0;
	border: 2px solid #5caae6;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05), 2px 3px 5px
		rgba(0, 0, 0, 0.3)
}

#visitor_display ul li:hover {
	border: 2px solid #8ebd21
}

#visitor_display img {
	width: 60px;
	height: 60px
}

.user_name {
	word-spacing: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	width: 70px;
	font-size: 14px;
	color: #423009;
	margin-top: 5px
}

.reply {
	margin: 0;
	opacity: 1;
	filter: alpha(opacity =     100);
	background: #fff;
	float: left
}

.reply {
	width: 660px;
	margin-left: 50px
}

.smallCom .userPhoto {
	width: 40px;
	height: 40px;
	float: left;
	margin: 5px 30px 10px 10px;
	border: 2px solid #8ebd21;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05), 3px 3px 2px
		rgba(0, 0, 0, 0.1)
}

.reply div {
	width: 450px;
	float: left
}

.sendComment {
	width: 90px;
	height: 25px;
	background: #3fa7cb;
	cursor: pointer;
	margin: 20px 0 0 458px;
	font-size: 12px;
	color: #e4e4e4;
	font-weight: bold;
	border-radius: 8px
}

.smallCom .reply a {
	width: 560px
}

.smallCom span.replyicon {
	background: url(/myHome/image/reply_ico.png) no-repeat scroll 0 0
		transparent;
	width: 19px;
	height: 17px;
	margin-top: 5px
}

.smallCom a.replyHyperlink {
	width: 19px;
	height: 17px;
	display: block
}

.smallCom span div {
	float: left;
	display: block;
	width: 435px
}

.smallCom strong span {
	height: 25px;
	line-height: 25px;
	float: left;
	display: block;
	width: auto;
	border: 0 none;
	margin: 0 10px 0 0;
	cursor: pointer
}

div.small_reply_area {
	margin: 7px 0 7px 48px;
	width: 468px;
	float: left;
	display: none
}

.small_reply_input {
	width: 665px;
	padding: 15px;
	border: 1px solid #dedede;
	font-size: 14px;
	line-height: 5px
}

.small_reply_bt {
	float: right;
	width: 80px;
	height: 20px;
	margin: 8px 0;
	background: #02ade6;
	color: #dcdcdc;
	border-radius: 8px;
	cursor: pointer
}

@media (max-width:800px){
	.readArea{
		width:100%;
		box-sizing:border-box;
	}
	div.comment{
	 	width:100%;
	 	box-sizing:border-box;
	 	padding:3% 6%;
	}
	#commentArea{
		width:78%;
	}
	#sendComment {
		margin:20px 7%;
	}
	.displayComment{
		width:100%;
	}
	.smallCom{
		width:100%;
		overflow:hidden;
	}
	.smallCom a,.smallCom .reply a{
		width:auto;
	}
	.smallCom div{
		box-sizing:border-box;
		padding-left:80px;
		width:100%;
	}
	#modificationTime{
		display: block;
		float: none;
		float: inherit;
		padding-top:5px;
	}
	.readArea img{
		width:100%!important;
	}
	.reply{
		box-sizing:border-box;
		margin:0;
		padding-left: 40px!important;
	}
	.mini_nav{
		display:none!important;
	}
	.head .headLogin{
		background:#f2f2f2;
		width:100%!important;
		margin-top:5px;
		box-sizing:border-box;
		padding:0 5%;
		border-bottom:3px solid #787878;
	}
}
#--------------------------------------------------
	
	
	
.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea
	{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	border: 0 none !important;
	box-sizing: content-box !important;
	float: none !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New",
		Courier, monospace !important;
	font-size: 1em !important;
	font-style: normal !important;
	font-weight: normal !important;
	left: auto !important;
	line-height: 1.1em !important;
	margin: 0 !important;
	min-height: auto !important;
	outline: 0 none !important;
	overflow: visible !important;
	padding: 0 !important;
	position: static !important;
	right: auto !important;
	text-align: left !important;
	top: auto !important;
	width: auto !important;
}

.syntaxhighlighter .container div {
	
}

.syntaxhighlighter {
	font-size: 1em !important;
	margin: 1em 0 !important;
	position: relative !important;
	width: 100% !important;
}

.syntaxhighlighter.source {
	overflow: hidden !important;
}

.syntaxhighlighter .bold {
	font-weight: bold !important;
}

.syntaxhighlighter .italic {
	font-style: italic !important;
}

.syntaxhighlighter .line {
	
}

.syntaxhighlighter table {
	border: 1px solid #c0c0c0 !important;
	width: 100% !important;
}

.syntaxhighlighter table caption {
	padding: 0.5em 0 0.5em 1em !important;
	text-align: left !important;
}

.syntaxhighlighter table td.code {
	width: 92% !important;
}

.syntaxhighlighter table td.code .container {
	position: relative !important;
}

.syntaxhighlighter table td.code .container textarea {
	background: none repeat scroll 0 0 white !important;
	border: medium none !important;
	box-sizing: border-box !important;
	height: 100% !important;
	left: 0 !important;
	overflow: hidden !important;
	padding-left: 1em !important;
	position: absolute !important;
	top: 0 !important;
	white-space: pre !important;
	width: 100% !important;
}

.syntaxhighlighter table td.gutter .line {
	padding: 0 0.5em 0 1em !important;
	text-align: right !important;
	white-space: nowrap;
}

.syntaxhighlighter table td.code .line {
	padding: 0 1em !important;
}

.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line
	{
	padding-left: 0 !important;
}

.syntaxhighlighter.show {
	display: block !important;
}

.syntaxhighlighter.collapsed table {
	display: none !important;
}

.syntaxhighlighter.collapsed .toolbar {
	font-size: 1em !important;
	height: auto !important;
	padding: 0.1em 0.8em 0 !important;
	position: static !important;
	width: auto !important;
}

.syntaxhighlighter.collapsed .toolbar span {
	display: inline !important;
	margin-right: 1em !important;
}

.syntaxhighlighter.collapsed .toolbar span a {
	display: none !important;
	padding: 0 !important;
}

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
	display: inline !important;
}

.syntaxhighlighter .toolbar {
	font-size: 10px !important;
	height: 11px !important;
	position: absolute !important;
	right: 1px !important;
	top: 1px !important;
	width: 11px !important;
	z-index: 10 !important;
}

.syntaxhighlighter .toolbar span.title {
	display: inline !important;
}

.syntaxhighlighter .toolbar a {
	display: block !important;
	padding-top: 1px !important;
	text-align: center !important;
	text-decoration: none !important;
}

.syntaxhighlighter .toolbar a.expandSource {
	display: none !important;
}

.syntaxhighlighter.ie {
	font-size: 0.9em !important;
}

.syntaxhighlighter.ie .toolbar {
	line-height: 8px !important;
}

.syntaxhighlighter.ie .toolbar a {
	padding-top: 0 !important;
}

.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content
	{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.syntaxhighlighter.printing .line .number {
	color: #bbbbbb !important;
}

.syntaxhighlighter.printing .line .content {
	color: black !important;
}

.syntaxhighlighter.printing .toolbar {
	display: none !important;
}

.syntaxhighlighter.printing a {
	text-decoration: none !important;
}

.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a
	{
	color: black !important;
}

.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a
	{
	color: #008200 !important;
}

.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a
	{
	color: blue !important;
}

.syntaxhighlighter.printing .keyword {
	color: #006699 !important;
	font-weight: bold !important;
}

.syntaxhighlighter.printing .preprocessor {
	color: gray !important;
}

.syntaxhighlighter.printing .variable {
	color: #aa7700 !important;
}

.syntaxhighlighter.printing .value {
	color: #009900 !important;
}

.syntaxhighlighter.printing .functions {
	color: #ff1493 !important;
}

.syntaxhighlighter.printing .constants {
	color: #0066cc !important;
}

.syntaxhighlighter.printing .script {
	font-weight: bold !important;
}

.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a
	{
	color: gray !important;
}

.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a
	{
	color: #ff1493 !important;
}

.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a
	{
	color: red !important;
}

.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a
	{
	color: black !important;
}

.syntaxhighlighter {
	background-color: white !important;
	word-break: break-all !important;
}

.syntaxhighlighter .line.alt1 {
	background-color: white !important;
}

.syntaxhighlighter .line.alt2 {
	background-color: #fafafa !important;
}

.syntaxhighlighter .line.highlighted.number {
	color: black !important;
}

.syntaxhighlighter table caption {
	color: black !important;
}

.syntaxhighlighter .gutter {
	color: #000 !important;
	padding: 5px !important;
}

.syntaxhighlighter .gutter .line {
	border-right: 3px solid #6ce26c !important;
}

.syntaxhighlighter .gutter .line.highlighted {
	background-color: #6ce26c !important;
	color: white !important;
}

.syntaxhighlighter.printing .line .content {
	border: medium none !important;
}

.syntaxhighlighter.collapsed {
	overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
	background: none repeat scroll 0 0 white !important;
	border: 1px solid #6ce26c !important;
	color: blue !important;
}

.syntaxhighlighter.collapsed .toolbar a {
	color: blue !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
	color: red !important;
}

.syntaxhighlighter .toolbar {
	background: none repeat scroll 0 0 #6ce26c !important;
	border: medium none !important;
	color: white !important;
}

.syntaxhighlighter .toolbar a {
	color: white !important;
}

.syntaxhighlighter .toolbar a:hover {
	color: black !important;
}

.syntaxhighlighter .plain,.syntaxhighlighter .plain a {
	color: black !important;
}

.syntaxhighlighter .comments,.syntaxhighlighter .comments a {
	color: #008200 !important;
}

.syntaxhighlighter .string,.syntaxhighlighter .string a {
	color: blue !important;
}

.syntaxhighlighter .keyword {
	color: #006699 !important;
}

.syntaxhighlighter .preprocessor {
	color: gray !important;
}

.syntaxhighlighter .variable {
	color: #aa7700 !important;
}

.syntaxhighlighter .value {
	color: #009900 !important;
}

.syntaxhighlighter .functions {
	color: #ff1493 !important;
}

.syntaxhighlighter .constants {
	color: #0066cc !important;
}

.syntaxhighlighter .script {
	color: #006699 !important;
	font-weight: bold !important;
}

.syntaxhighlighter .color1,.syntaxhighlighter .color1 a {
	color: gray !important;
}

.syntaxhighlighter .color2,.syntaxhighlighter .color2 a {
	color: #ff1493 !important;
}

.syntaxhighlighter .color3,.syntaxhighlighter .color3 a {
	color: red !important;
}

.syntaxhighlighter .keyword {
	font-weight: bold !important;
}