@CHARSET "UTF-8";

body {
	background: url("/myHome/images/register/body.png") repeat-x scroll 0 0
		#fff;
}

*:focus {
	outline: none;
}

h1 {
	color: #FFFFFF;
	display: block;
	font-size: 22px;
	font-family: "Microsoft Yahei";
	float: left;
	height: 40px;
	line-height: 46px;
}

.register_box {
	width: 1000px;
	height: 650px;
	margin: 10px auto;
	border-radius: 30px;
	padding: 20px 0 0;
	border-bottom: 8px solid #787878;
	border-left: 8px solid #787878;
	border-right: 8px solid #787878;
}

.register_head {
	width: 1000px;;
	height: 40px;
	padding: 0 20px;
	margin: 20px auto 0;
}

.register_head a {
	float: left;
}

.register_nav {
	width: 180px;
	height: 550px;
	float: left;
	margin: 10px;
	border-radius: 10px;
	color: #DCDCDC;
}

.mini_user_base_datum b {
	color: #FF4700;
	font-family: "SimSun";
	padding-left: 4px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}

table input[type="text"] {
	background: url("/myHome/image/trans.png");
	color: #fcfcfc;
}

input[type="button"] {
	font-weight: bold;
	letter-spacing: 5px;
	text-indent: 5px;
	background: #E84C3D;
	color: #fcfcfc;
}

.register_nav ul {
	list-style: none;
	border-radius: 10px;
	height: 550px;
}

.register_nav li {
	width: 180px;
	height: 100px;
	display: block;
	text-align: left;
	line-height: 100px;
	font-family: "微软雅黑", "华文细黑", "黑体", arial;
	font-size: 15px;
	font-weight: bold;
	background: url("/myHome/images/left_2.png") 6px 20px no-repeat;
}

.register_nav li:first {
	background: url("/myHome/images/register/left_2.png");
}

.register_nav li b {
	width: 28px;
	height: 27px;
	background: #DCDCDC;
	border-radius: 28px;
	display: block;
	line-height: 27px;
	float: left;
	text-align: center;
	margin: 37px 15px 0;
	color: #343434;
}

#register_one {
	color: #FF4700;
}

#register_one b {
	background: #FF4700;
}

.mini_register_rm {
	width: 710px;
	height: 510px;
	box-shadow: 6px 8px 4px rgba(50, 50, 50, 0.2), 7px 10px 5px
		rgba(50, 50, 50, 0.1);
	border-radius: 10px;
	float: right;
	margin: 10px 30px 0 0;
	overflow: auto;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
	background: url("/myHome/image/7c.jpg");
	background-size: cover;
}

.mini_rules {
	width: 710px;
	height: 550px;
	overflow: hidden;
}

.mini_user_base_datum {
	width: 710px;
	height: 510px;
	display: none;
	overflow: hidden;
}

.user_base_dails {
	width: 710px;
	height: 510px;
	display: none;
	overflow: hidden;
}

.load_register {
	width: 710px;
	height: 510px;
	display: none;
	overflow: hidden;
	background: url("/myHome/image/loading.gif") 40px 50px no-repeat;
}

.register_state p {
	color: #333;
	display: inline-block;
	font-family: "Microsoft Yahei";
	font-weight: bold;
}

.register_state {
	width: 710px;
	height: 510px;
	overflow: hidden;
	display: none;
	background: url("/myHome/image/ok.png") 130px 70px no-repeat;
}

.load_register h1 {
	color: #787878;
	border: 0;
}

.register_bt {
	width: 960px;
	height: 50px;
	float: left;
	margin: 0px 0 0 10px
}

.register_bt input {
	width: 120px;
	height: 40px;
	float: right;
	margin: 5px 15px 0;
	cursor: pointer;
	border-radius: 10px;
}

.register_bt input:hover {
	background: #1BBC9B;
}

.mini_user_base_datum input {
	height: 30px;
	width: 200px;
	margin-left: 25px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 15px;
	border: 1px solid #DCDCDC;
}

.mini_user_base_datum input:FOCUS {
	border: 1px solid #4C9FDF;
}

.point_info {
	font-size: 14px;
	color: #e64141;
	line-height: 32px;
	text-indent: 33px;
	width: 200px;
	height: 32px;
	position: absolute;
	background: url('/myHome/image/reg_error.png');
	top: 12px;
	left: 270px;
	display: none;
}

.poss_point_info {
	font-size: 13px;
	color: #e64141;
	line-height: 32px;
	text-indent: 33px;
	position: absolute;
	background: url('/myHome/image/reg_error.png');
	top: 40px;
	left: 270px;
	z-index: 5;
	margin-top: -37px;
	background: url('/myHome/image/reg_info3.png') no-repeat;
	width: 200px;
	height: 106px;
	color: #333;
	display: none;
}

.poss_point_info span {
	margin-top: 8px;
	float: left;
	display: block;
	width: 80px;
	height: 16px;
	line-height: 16px;
	text-indent: 15px;
	float: left;
}

.poss_point_info b {
	margin: 8px 3px;
	width: 13px;
	height: 16px;
	display: block;
	float: left;
	background: #ccc;
}

.poss_point_info i {
	line-height: 16px;
	text-indent: 0px;
	text-decoration: none;
	margin: 5px 0 0 15px;
}

.poss_point_info em {
	margin: 8px 3px;;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	line-height: 16px;
	text-indent: 0px;
}

.poss_point_info strong {
	margin: 8px 3px;
	display: block;
	float: left;
	width: 120px;
	line-height: 16px;
	text-indent: 0px;
	height: 16px;
}

.row_box {
	width: 450px;
	height: 50px;
	margin: 6px auto;
	text-align: center;
	line-height: 50px;
}

.row_box span {
	width: 80px;
	height: 50px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.row_box input {
	width: 220px;
	height: 30px;
	border: 1px solid #DCDCDC;
	display: block;
	margin: 10px auto;
	float: left;
	display: block;
	padding:0 15px;
}

.cus-sel-opt-panel {
	width: 102px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #D8D8D8;
	margin: 8px 10px 0 0;
	position: relative;
	float: left;
	color: #666666;
	cursor: pointer;
	z-index: auto;
}

.cus-sel-opt-panel:hover {
	border: 1px solid #A1BBD3;
}

.cus-sel-opt-panel span {
	width: 102px;
	height: 30px;
	display: block;
	background:#FCFCFC url("/myHome/image/arrow.png") no-repeat 85px 14px;
	text-align: center;
}

.cus-sel-opt-ctn {
	clear: both;
	width: 102px;
	list-style: none;
	border: 1px solid #A1BBD3;
	position: absolute;
	left: -1px;
	display: none;
	background: #f8f8f8;
	z-index: 3;
	top: 30px;
}

.cus-sel-opt-ctn li:hover {
	background: #ECECEC;
}

#year,#month,#day {
	height: 200px;
	overflow: auto;
}

#province,#city {
	height: 280px;
	overflow: auto;
}