@CHARSET "UTF-8";
@CHARSET "UTF-8";
body,div,img,ul,li{
	margin:0;
	padding:0;
	border:0 none;
	font:12px/1.5 "雅黑,宋体"
}
.gaofu_head_wrap{
	width:100%;
	height:38px;
	background:#4B4948;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.05), 0 7px 5px rgba(0, 0, 0, 0.3);
}
.gaofu_head{
	margin:0 auto;
	width:1200px;
	height:38px;
	color:#E8E8E8
}
.gaofu_head img{
	margin-top:11px;
	float:left;
	width:208px;
	height:16px;
	margin-left:10px;
}
.gaofu_head a{
	float: right;
	color:#E8E8E8;
	width:80px;
	height:38px;
	line-height:38px;
	text-decoration: none;
	font-size:14px;
	font-weight: 700;
	text-align: center;
	margin-right:10px;
}
.gaofu_head a:hover{
	text-decoration:underline;
}
.gaofu_nav_wrap{
	width:100%;
	height:87px;
	background: #FFFFFF;
	z-index: 2;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.05), 0 5px 3px rgba(0, 0, 0, 0.3);
}
.gaofu_nav{
	margin:0 auto;
	width:1200px;
	height:87px;
	color:#E8E8E8;
	
}
.gaofu_nav img{
	margin-top:21px;
	float:left;
	width:529px;
	height:45px;
}
.gaofu_nav ul,li.gaofu_info ul{
	list-style: none;
	width:480px;
	background: #FFFFFF;
	height:87px;
	display: block;
	zoom:1;
	float: right;
}
.gaofu_nav ul li{
	float: left;
	width:120px;
	text-align: center;
	font-size:19px;
	font-weight:700;
	color:#4B4948;
	height:87px;
	line-height:87px;
	cursor: pointer;
}
li.gaofu_info{
position: relative;
}
li.gaofu_info:hover ul{
	display: block;
}
li.gaofu_info ul{
	width:118px;
	position: absolute;
	border: 1px solid #ccc;
	border-top:3px solid #EA5D52;
	top:70px;
	left:-2px;
	background: #FFFFFF;
	display: none;
	z-index: 999;
	height:0;
}
li.gaofu_info li{
	height:35px;
	width:118px;
	background: #FFFFFF;
	border-bottom: 1px solid #ccc;
	float: none;
	line-height:35px;
	font-size:14px;
	color:#565453;
}
li.gaofu_info li:hover{
	background: #DCEBF9;
}
.gaofu_info_div{
	width:1200px;
	height:500px;
	background: #ccc;
	margin: 50px auto 0;
	}
	